[submodule "roles/srl"]
	path = roles/srl
	url = https://github.com/systemslab/srl-roles.git
[submodule "experiments/figure1/zlog-popper"]
	path = experiments/figure1/zlog-popper
	url = https://github.com/noahdesu/zlog-popper.git
